@import "tailwindcss";

:root {
--font-base:2vh;
  --text-xs: 0.75rem; /*12px*/
  --text-sm: 0.875rem; /*14px*/
  --text-base: 1rem; /*16px*/
  --text-lg: 1.125rem; /*18px*/
  --text-xl:1.25rem; /*20px*/
  --text-2xl:1.5rem; /*24px*/
  --text-3xl:1.875rem /*30px*/
  --text-4xl:2.25rem /*36px*/
  --text-5xl:3rem /*48px*/
  --text-6xl:3.75rem /*60px*/
  --text-7xl:4.5rem /*72px*/
  --text-8xl:6rem /*96px*/
  --text-9xl:8rem /*128px*/
  --text-xs--line-height: 1.25;
  --text-sm--line-height: 1.25;
  --text-base--line-height: 1.5;
  --text-lg--line-height: 1.5;
  --text-xl--line-height: 1.5;
  --text-2xl--line-height: 1.5;
  --text-3xl--line-height: 1.25;
  --text-4xl--line-height: 1.25;
  --text-5xl--line-height: 1.2;
  --text-6xl--line-height: 1.1;
  --text-7xl--line-height: 1.1;
  --text-8xl--line-height: 1;
  --text-9xl--line-height: 1;
}

.text-xs-var {
  font-size: var(--text-xs);
  line-height: var(--text-xs--line-height);
}

.text-sm-var {
  font-size: var(--text-sm);
  line-height: var(--text-sm--line-height);
}

.text-base-var {
  font-size: var(--text-base);
  line-height: var(--text-base--line-height);
}

.text-lg-var {
  font-size: var(--text-lg);
  line-height: var(--text-lg--line-height);
}

.text-xl-var {
  font-size: var(--text-xl);
  line-height: var(--text-xl--line-height);
}

.text-2xl-var {
  font-size: var(--text-2xl);
  line-height: var(--text-2xl--line-height);
}

.text-3xl-var {
  font-size: var(--text-3xl);
  line-height: var(--text-3xl--line-height);
}

.text-4xl-var {
  font-size: var(--text-4xl);
  line-height: var(--text-4xl--line-height);
}

.text-5xl-var {
  font-size: var(--text-5xl);
  line-height: var(--text-5xl--line-height);
}

.text-6xl-var {
  font-size: var(--text-6xl);
  line-height: var(--text-6xl--line-height);
}

.text-7xl-var {
  font-size: var(--text-7xl);
  line-height: var(--text-7xl--line-height);
}

.text-8xl-var {
  font-size: var(--text-8xl);
  line-height: var(--text-8xl--line-height);
}

.text-9xl-var {
  font-size: var(--text-9xl);
  line-height: var(--text-9xl--line-height);
}

body{
    font-size: var(--font-base);
}