.sticky-header {
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: rgba(110, 74, 142, 0.3) 0px 4px 20px;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content {
  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links li {
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-links li:hover {
  color: #7b61ff;
}
