@import "tailwindcss";

html,
body {
  min-height: 100dvh;
  max-height: 100dvh;
  overflow-x: hidden;
}

.container {
  margin-inline: auto;
  padding-inline: 1rem;
}

.rootWrapper {
  height: 100dvh;
  width: 100%;
}
