@import "tailwindcss";

:root {
  --primarycolor: ;
  --secondarycolor: ;

  /* === Font Families === */
  --font-primary: "Inter", sans-serif;
  --font-heading: "Poppins", sans-serif;
  --font-mono: "Fira Code", monospace;

  /* === Font Sizes === */
  --fs-display: 3.75rem; /* 60px */
  --fs-5xl: 3rem; /* 48px */
  --fs-4xl: 2.25rem; /* 36px */
  --fs-3xl: 1.875rem; /* 30px */
  --fs-2xl: 1.5rem; /* 24px */
  --fs-xl: 1.25rem; /* 20px */
  --fs-lg: 1.125rem; /* 18px */
  --fs-base: 1rem; /* 16px */
  --fs-sm: 0.875rem; /* 14px */
  --fs-xs: 0.75rem; /* 12px */
}

.rootWrapper,
.bodyWrapper {
  min-height: 100dvh;
  height: 100dvh;
}
