@import "tailwindcss";

:root {
  --color-primary: "#000000";
  --color-secondary: "#000000";
}

html,
body {
  height: 100dvh;
  min-height: 100dvh;
}

.appLayout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100dvh;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 768px) {
  .container {
  }
}
@media (min-width: 992px) {
  .container {
  }
}

@media (min-width: 1200px) {
  .container {
  }
}

@media (min-width: 1400px) {
  .container {
  }
}
