.arrow {
  font-size: 2rem;
  color: white;
  background-color: #333;
  border: none;
  padding: 12px 20px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.arrow:hover {
  background-color: #555;
  transform: scale(1.1);
}

.arrow-left {
  box-shadow: -3px 3px 8px rgba(0, 0, 0, 0.3);
}

.arrow-right {
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
}
