@import "tailwindcss";
/* =====================================================
   Montserrat Regular — 400
===================================================== */
@font-face {
  font-family: "Montserrat-Regular";
  src: url("/assets/fonts/montserrat-regular.eot");
  src:
    url("/assets/fonts/montserrat-regular.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/montserrat-regular.woff2") format("woff2"),
    url("/assets/fonts/montserrat-regular.woff") format("woff"),
    url("/assets/fonts/montserrat-regular.ttf") format("truetype"),
    url("/assets/fonts/montserrat-regular.svg#Montserrat") format("svg");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

/* =====================================================
   Montserrat Medium — 500
===================================================== */
@font-face {
  font-family: "Montserrat-Medium";
  src: url("/assets/fonts/montserrat-medium.eot");
  src:
    url("/assets/fonts/montserrat-medium.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/montserrat-medium.woff2") format("woff2"),
    url("/assets/fonts/montserrat-medium.woff") format("woff"),
    url("/assets/fonts/montserrat-medium.ttf") format("truetype"),
    url("/assets/fonts/montserrat-medium.svg#Montserrat") format("svg");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

/* =====================================================
   Montserrat SemiBold — 600
===================================================== */
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("/assets/fonts/montserrat-semibold.eot");

  src:
    url("/assets/fonts/montserrat-semibold.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/montserrat-semibold.woff2") format("woff2"),
    url("/assets/fonts/montserrat-semibold.woff") format("woff"),
    url("/assets/fonts/montserrat-semibold.ttf") format("truetype"),
    url("/assets/fonts/montserrat-semibold.svg#Montserrat") format("svg");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

/* =====================================================
   Montserrat Bold — 700
===================================================== */
@font-face {
  font-family: "Montserrat-Bold";
  src: url("/assets/fonts/montserrat-bold.eot");

  src:
    url("/assets/fonts/montserrat-bold.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/montserrat-bold.woff2") format("woff2"),
    url("/assets/fonts/montserrat-bold.woff") format("woff"),
    url("/assets/fonts/montserrat-bold.ttf") format("truetype"),
    url("/assets/fonts/montserrat-bold.svg#Montserrat") format("svg");

  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
/* =====================================================
   Brand variables
===================================================== */
:root {
  /* Brand font */
  --brand-font-monsterrat-regular: "Montserrat-Regular";
  --brand-font-monsterrat-medium: "Montserrat-Medium";
  --brand-font-monsterrat-semibold: "Montserrat-SemiBold";
  --brand-font-monsterrat-bold: "Montserrat-Bold";
  /* Brand colors */
  --brand-primary: #3fa938;
  --brand-secondary: #1e4a1d;
  /* Fluid font sizes Format: clamp(minimum, responsive vh value, maximum) */
  --brand-text-12: clamp(0.625rem, 1.2vh, 0.75rem); /* 10px → 12px */
  --brand-text-14: clamp(0.75rem, 1.4vh, 0.875rem); /* 12px → 14px */
  --brand-text-16: clamp(0.875rem, 1.6vh, 1rem); /* 14px → 16px */
  --brand-text-18: clamp(1rem, 1.8vh, 1.125rem); /* 16px → 18px */
  --brand-text-20: clamp(1.125rem, 2vh, 1.25rem); /* 18px → 20px */
  --brand-text-24: clamp(1.25rem, 2.4vh, 1.5rem); /* 20px → 24px */
  --brand-text-28: clamp(1.5rem, 2.8vh, 1.75rem); /* 24px → 28px */
  --brand-text-32: clamp(1.75rem, 3.2vh, 2rem); /* 28px → 32px */
  --brand-text-36: clamp(2rem, 3.6vh, 2.25rem); /* 32px → 36px */
  --brand-text-40: clamp(2.25rem, 4vh, 2.5rem); /* 36px → 40px */
  --brand-text-48: clamp(2.5rem, 4.8vh, 3rem); /* 40px → 48px */
  --brand-text-56: clamp(3rem, 5.6vh, 3.5rem); /* 48px → 56px */
  --brand-text-64: clamp(3.5rem, 6.4vh, 4rem); /* 56px → 64px */
  --brand-text-72: clamp(4rem, 7.2vh, 4.5rem); /* 64px → 72px */
  --brand-text-80: clamp(4.5rem, 8vh, 5rem); /* 72px → 80px */
  --brand-text-90: clamp(5rem, 9vh, 5.625rem); /* 80px → 90px */
  --brand-text-100: clamp(5.625rem, 10vh, 6.25rem); /* 90px → 100px */
}

@theme inline {
  /* Remove Tailwind default breakpoints */
  --breakpoint-*: initial;
  /* Custom breakpoints — mobile first/min-width */
  --breakpoint-tablet: 48rem; /* 768px */
  --breakpoint-desktop-sm: 64rem; /* 1024px */
  --breakpoint-desktop-md: 80rem; /* 1280px */
  --breakpoint-desktop-lg: 85.375rem; /* 1366px */
  --breakpoint-desktop-xl: 90rem; /* 1440px */
  --breakpoint-desktop-2xl: 100rem; /* 1600px */
  --breakpoint-desktop-3xl: 120rem; /* 1920px */
  --breakpoint-desktop-4xl: 128rem; /* 2048px */
  --breakpoint-desktop-5xl: 160rem; /* 2560px */
  --breakpoint-desktop-6xl: 187.5rem; /* 3000px */
  /* font name */
  --font-monsterrat-regular: var(--brand-font-monsterrat-regular);
  --font-monsterrat-medium: var(--brand-font-monsterrat-medium);
  --font-monsterrat-semibold: var(--brand-font-monsterrat-semibold);
  --font-monsterrat-bold: var(--brand-font-monsterrat-bold);
  /* Brand colors */
  --color-primary: var(--brand-primary);
  --color-secondary: var(--brand-secondary);
  /* Fluid font sizes */
  --text-12: var(--brand-text-12);
  --text-14: var(--brand-text-14);
  --text-16: var(--brand-text-16);
  --text-18: var(--brand-text-18);
  --text-20: var(--brand-text-20);
  --text-24: var(--brand-text-24);
  --text-28: var(--brand-text-28);
  --text-32: var(--brand-text-32);
  --text-36: var(--brand-text-36);
  --text-40: var(--brand-text-40);
  --text-48: var(--brand-text-48);
  --text-56: var(--brand-text-56);
  --text-64: var(--brand-text-64);
  --text-72: var(--brand-text-72);
  --text-80: var(--brand-text-80);
  --text-90: var(--brand-text-90);
  --text-100: var(--brand-text-100);
}

html,
.bodyLayout {
  height: 100dvh;
  min-height: 100%;
  font-family: var(--font-monsterrat-regular);
}
