@font-face {
  font-family: "gibson-semibold";
  src: url("/assets/fonts/gibson-semibold.eot"); /* IE9 Compat Modes */
  src: url("/assets/fonts/gibson-semibold.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/gibson-semibold.woff2") format("woff2"),
    url("/assets/fonts/gibson-semibold.woff") format("woff"),
    url("/assets/fonts/gibson-semibold.ttf") format("truetype"),
    url("/assets/fonts/gibson-semibold.svg#gibson-semibold") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "gibson-regular";
  src: url("/assets/fonts/gibson-regular.eot"); /* IE9 Compat Modes */
  src: url("/assets/fonts/gibson-regular.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/gibson-regular.woff2") format("woff2"),
    url("/assets/fonts/gibson-regular.woff") format("woff"),
    url("/assets/fonts/gibson-regular.ttf") format("truetype"),
    url("/assets/fonts/gibson-regular.svg#gibson-regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

p{line-height: 1.5;}

:root{
  // font family
  --ff-gibson-semibold:'gibson-semibold';
  --ff-gibson-regular:'gibson-regular';
  // font size
  --txt-size-sm:14px;
  --txt-size-base:16px;
  --txt-size-4xl:34px;
  // color palette
  --txt-gray-color-1:#7E7E7E;
  --txt-highlight-black-color-1:#353535;
  --bg-white:#FFFFFF;
  --txt-white:#ffffff;
  --txt-highlight-pink-color-1:#7C15FF;
   // typography
  --txt-color-head-title:#212121;
  --txt-size-head-title:28px;
  --primary-color:#451e7b;
  --txt-red-color-1:#e53935;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.mainContent{
  background-color: var(--bg-white);
  height: 100dvh;
  margin-top: 48px;
}

.container{
  max-width:1280px;
  margin-inline: auto;
  padding-inline:1rem;
  
}
.m-auto{
  margin-inline: auto;
}

.header{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  padding:10px 0;
}

.otpSection{
  text-align: center;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding:50px 0;
  gap:20px;
  .titleBlock{
    display:grid;
    gap:10px;
    .headTitle{
    font-size: var(--txt-size-head-title);
    font-family:var(--ff-gibson-semibold) ;
    color:var(--txt-color-head-title)
  }
  .desc{
    font-size: var(--txt-size-sm);
    font-family: var(--ff-gibson-semibold);
    color:var(--txt-gray-color-1);
    .txt-highlight{
      color:var(--txt-highlight-black-color-1)
    }
  }
  }
  .txt-code{
    font-size: var(--txt-size-base);
    font-family: var(--ff-gibson-semibold);
    color:var(--txt-gray-color-1);
    .txt-resend{
      color:var(--txt-highlight-pink-color-1)
    }
  }
  .txt-wrong{
    font-size: var(--txt-size-base);
    font-family: var(--ff-gibson-semibold);
    color:var(--txt-highlight-black-color-1);
    text-decoration: underline;
    text-underline-offset: 3px;
    cursor: pointer;
  }
  .txt-summary{
    font-size: var(--txt-size-sm);
    font-family: var(--ff-gibson-regular);
    color:var(--txt-gray-color-1);
    .underline{text-decoration: underline;color:var(--txt-gray-color-1);}
  }
}

// button styles
.custom-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  gap: 0.5rem; /* spacing between icon and text */
  padding: 0.5rem 1rem;
  width:100%;
  max-width:350px;
  border: none;
  border-radius: 30px;
  background-color:var(--primary-color);
  color: var(--txt-white);
  font-size: var(--txt-size-base);
  height:60px;
  font-family: var(--ff-gibson-semibold);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s;

  &:hover:not(.disabled) {
    background-color: #31135a; /* slightly darker on hover */
  }

  &:active:not(.disabled) {
    transform: scale(0.98);
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .icon-left,
  .icon-right {
    display: flex;
    align-items: center;
  }

  .icon-left {
    margin-right: 0.5rem;
  }

  .icon-right {
    margin-left: 0.5rem;
  }
}

// otp section styles
.otp-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.otp-error-text {
  margin-bottom: 0.75rem; // spacing BELOW error text
  font-size: var(--txt-size-sm);
  color: var(--txt-red-color-1);
  font-family: var(--ff-gibson-regular);
}

.otp-input-container {
  display: flex;
  gap: 1rem;
}

.otp-input {
  width: 3rem;
  height: 3rem;
  text-align: center;
  font-size: var(--txt-size-4xl);
  font-family: var(--ff-gibson-semibold);
  border: 0;
  border-bottom: 3px solid var(--txt-highlight-black-color-1);
  outline: none;
  transition: border-color 0.2s;

  &:focus {
    border-bottom-color: var(--primary-color);
  }
}

/* ERROR STATE */
.otp-input-container.error {
  .otp-input {
    border-bottom-color: var(--txt-red-color-1);
     color: var(--txt-red-color-1);
  }
}

.sectionContent{
  max-width:70%;
  margin:0 auto;
  background-color: #f9f9f9;
  padding:20px;
  display:grid;
  gap: 20px;
  height: 100vh;
  .innerContent{
    display:block;
    .boxContent{
      display: grid;
      gap: 20px;
      margin:0 0 20px;
      .list-disc{
        list-style-position: inside;
      }
    }
  }
}