.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background: var(--dark-bg);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.header li {
  cursor: pointer;
  transition: 0.3s;
}

.header li:hover {
  color: var(--primary-color);
}

.btn-primary {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
