@import "tailwindcss";

html,
.bodyWrapper {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  font-kerning: normal;
  scroll-behavior: smooth;
}

.bodyWrapper {
  min-height: 100dvh;
  height: 100dvh;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  padding-inline: 1rem;
}
