@import "tailwindcss";

@font-face {
  font-family: "PoppinsRegular";
  src: url("../assets/fonts/poppins-regular.eot");
  src:
    url("../assets/fonts/poppins-regular.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/poppins-regular.woff2") format("woff2"),
    url("../assets/fonts/poppins-regular.woff") format("woff"),
    url("../assets/fonts/poppins-regular.ttf") format("truetype"),
    url("../assets/fonts/poppins-regular.svg#Poppins") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PoppinsMedium";
  src: url("../assets/fonts/poppins-medium.eot");
  src:
    url("../assets/fonts/poppins-medium.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/poppins-medium.woff2") format("woff2"),
    url("../assets/fonts/poppins-medium.woff") format("woff"),
    url("../assets/fonts/poppins-medium.ttf") format("truetype"),
    url("../assets/fonts/poppins-medium.svg#Poppins") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.container{
  margin-inline:auto;
  padding-inline:1rem;
}

:root{
  --ff-poppins-medium:'PoppinsMedium';
  --ff-poppins-regular:'PoppinsRegular';
}

* {
  box-sizing: border-box;
}

html,body{
  height:100dvh;
  min-height:100dvh;
}

body {
  font-family: var(--ff-poppins-regular);
}

.font-poppins-regular {
  font-family: var(--ff-poppins-regular);
}

.font-poppins-medium {
  font-family: var(--ff-poppins-medium);
}
